

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<h1>Stupid coaching</h1>
<p>Ask your coach anything:</p>
<div class= form>
  <form action="/answer" method="get">
    <input type="text" name="question" style="width:400px" >
    <input type="submit" class ="btn btn-primary" value="Ask!" style="width:60px">
  </form>
</div>
